<h1>Practice Information System</h1>

<p>Welcome to our doctor information portal. The page will show all the list of doctor's practicing in our clinic.</p>

<p *ngIf="!doctorsInfo"><em>Loading...</em></p>

<table class='table' *ngIf="doctorsInfo">
  <thead>
    <tr>
      <th>Name</th>
      <th>Average Patient Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of doctorsInfo">
      <td>
        <a [routerLink]="['/detail',emp.id]">{{ emp.name }}</a>,
        {{ emp.gender }},
        {{ emp.specialties }}
      </td>
      <td>{{ emp.averagePatientRating }}</td>
      <td>
    </tr>
  </tbody>
</table>
